.app-container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .app-container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/* Background base for entire app */
html,
body {
  background-color: #2c2e30;
  min-height: 100%;
  color: white;
}
